@charset "utf-8";
/* HTML and Body Styles */
html {
    background-color: white;
   }
body {
    background-color: white;
    font-family: Verdana, Geneva, sans-serif;
    text-align: left;
   }

h1 {
    color: rgb(151, 148, 148);
    background-color: rgb(129, 50, 129);
    font-family: impact;
    font-size: 3em;
}

nav {
    color: rgb(113, 109, 115);
    background-color: white;
    font-size: 0.8em;
    line-height: 2em;
    text-align: center;
   }

article.cg_about h1 {
    background-color: rgb(255, 185, 255);
    color: rgb(101, 101, 101);
   }

footer {
    color: rgb(151, 148, 148);
    font-size: 0.9em;
    text-align: center;
    }